<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Fairlady 370z</string>
		<key>Image</key>
		<string>nissan 370z</string>
		<key>Engine</key>
		<string>3.7 Liter V6</string>
		<key>Company</key>
		<string>Nissan</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lancer</string>
		<key>Image</key>
		<string>Lancer</string>
		<key>Engine</key>
		<string>2.4 Liter 4-Cylinder</string>
		<key>Company</key>
		<string>Mitsubishi</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Supra</string>
		<key>Image</key>
		<string>supra</string>
		<key>Engine</key>
		<string>2.0 Liter V6</string>
		<key>Company</key>
		<string>Toyota</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rx7</string>
		<key>Image</key>
		<string>Rx7</string>
		<key>Engine</key>
		<string>1.3 Liter Rotary</string>
		<key>Company</key>
		<string>Mazda</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GTR34</string>
		<key>Image</key>
		<string>nissan gtr</string>
		<key>Engine</key>
		<string>2.6 Liter Twin Turbocharged</string>
		<key>Company</key>
		<string>Nissan</string>
	</dict>
</array>
</plist>
