<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Chest</key>
		<dict>
			<key>Wide Grip Bench Press</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
			<key>Dumbbell Chest Flys</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
			<key>Hex Dumbbell Press</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
			<key>Front Dumbbell Raise</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
		</dict>
		<key>Bicep</key>
		<dict>
			<key>Dumbbell Curl</key>
			<dict>
				<key>Name</key>
				<string>Dumbell Curl</string>
				<key>Description</key>
				<string>Let your arms hang down with your palms forward. Curl both arms upward until they’re in front of your shoulders</string>
				<key>Image</key>
				<string>curls</string>
			</dict>
			<key>Reverse Dumbell Curl</key>
			<dict>
				<key>Name</key>
				<string>Reverse Dumbbell Curl</string>
				<key>Description</key>
				<string>Let your arms hang down with your wrists forward. Raise your arms up to your chest </string>
				<key>Image</key>
				<string>reverseCurls</string>
			</dict>
			<key>Wide Dumbbell Curl</key>
			<dict>
				<key>Name</key>
				<string>Wide Dumbbell Curl</string>
				<key>Description</key>
				<string>Let your arms hang down with your palms facing away from your body. Do the same motion as a curl, but to the side of your body</string>
				<key>Image</key>
				<string>wideCurls</string>
			</dict>
			<key>Hammer Dumbbell Curl</key>
			<dict>
				<key>Name</key>
				<string>Hammer Dumbbell Curl</string>
				<key>Description</key>
				<string>Hold the dumbbells vertically and let your arms hang down by your side. Raise your arms up to your shoulders</string>
				<key>Image</key>
				<string>hammerCurls</string>
			</dict>
		</dict>
		<key>Tricep</key>
		<dict>
			<key>Dips</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
			<key>Overhead Tricep Extensions</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
			<key>Kickbacks</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
			<key>Close Bench</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
		</dict>
		<key>Shoulders</key>
		<dict>
			<key>Shoulder Press</key>
			<dict>
				<key>Name</key>
				<string>Shoulder Press</string>
				<key>Description</key>
				<string>Standing or sitting with dumbbells at shoulder height with your elbows at a 90-degree angle. Slowly lift the dumbbells above your head without fully straightening your arms. Pause at the top. Slowly return to the start position.</string>
				<key>Image</key>
				<string>Dumbbell Shoulder Press</string>
			</dict>
			<key>Arnold Press</key>
			<dict>
				<key>Name</key>
				<string>Arnold Press</string>
				<key>Description</key>
				<string>Standing or sitting with dumbbells at shoulder height with your elbows at a 90-degree angle. Slowly twist and lift the dumbbells above your head without fully straightening your arms. Return to the start position and Repeat.</string>
				<key>Image</key>
				<string>Arnold Press</string>
			</dict>
			<key>Dumbbell Side Raise</key>
			<dict>
				<key>Name</key>
				<string>Dumbbell Side Raise</string>
				<key>Description</key>
				<string>Stand or sit with a dumbbell in each hand at your sides. Slowly lift the weights out to the side until your arms are parallel with the floor, with the elbow slightly bent.</string>
				<key>Image</key>
				<string>Dumbbell side raise</string>
			</dict>
			<key>Dumbbell Shoulder Shrugs</key>
			<dict>
				<key>Name</key>
				<string>Dumbbell Shoulder Shrugs</string>
				<key>Description</key>
				<string>Stand or sit with a dumbbell in each hand at your sides. Slowly shrug the shoulders up and down.</string>
				<key>Image</key>
				<string>Dumbbell Shoulder Shrugs</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Core</key>
		<dict>
			<key>Plank Hold</key>
			<dict>
				<key>Name</key>
				<string>Plank Hold </string>
				<key>Description</key>
				<string>Get on your hands and knees. When ready, lift your knees up and hold the position as long as possible.</string>
				<key>Image</key>
				<string>Plank Hold</string>
			</dict>
			<key>Bicycle Crunches</key>
			<dict>
				<key>Name</key>
				<string>Bicycle Crunches</string>
				<key>Description</key>
				<string>Lay on your back with your hands behind your head. Lift your knees up and touch your opposite knee to your opposite shoulder. Your legs should look like you’re riding a bike</string>
				<key>Image</key>
				<string>bicycle crunches</string>
			</dict>
			<key>Russian Twists</key>
			<dict>
				<key>Name</key>
				<string>Russian Twists</string>
				<key>Description</key>
				<string>Lie down with your legs bent at the knees. Elevate your upper body so that it creates a V shape with your thighs. Twist your torso to the right, and left. Repeat. </string>
				<key>Image</key>
				<string>Russian Twists</string>
			</dict>
			<key>Six Inches</key>
			<dict>
				<key>Name</key>
				<string>Six Inches</string>
				<key>Description</key>
				<string>lay on your back on the floor. Slowly lift your legs up 6 inches above the ground and hold. Keep your legs straight</string>
				<key>Image</key>
				<string>Six inches</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Quads</key>
		<dict>
			<key>Dumbbell Lunges</key>
			<dict>
				<key>Name</key>
				<string>Dumbbell Lunges</string>
				<key>Description</key>
				<string>stand up straight with dumbbells at your sides. Lunge forward and come back up one leg at a time</string>
				<key>Image</key>
				<string>lunges</string>
			</dict>
			<key>Dumbbell Step-Ups</key>
			<dict>
				<key>Name</key>
				<string>Dumbbell Step-Ups</string>
				<key>Description</key>
				<string>Stand up straight behind an elevated surface with dumbbells at your sides. Raise one leg up onto the surface and use it to bring the other leg up. Repeat for both legs for as many reps as you can do</string>
				<key>Image</key>
				<string>stepUps</string>
			</dict>
			<key>Squats</key>
			<dict>
				<key>Name</key>
				<string>Squats</string>
				<key>Description</key>
				<string>Stand holding a dumbbell with both hands at your chest with your feet shoulder width apart. With your weight on your heels, squat down until you&apos;re at a 90 degree angle. Then come back up</string>
				<key>Image</key>
				<string>squats</string>
			</dict>
			<key>Bulgerian Split Squat</key>
			<dict>
				<key>Name</key>
				<string>Bulgerian Split Squat</string>
				<key>Description</key>
				<string>Stand holding two dumbbells in front of an elevated surface. Put one foot directly underneath your shoulders and the other on with your toes on the surface behind your. Lower yourself down and back up for one rep</string>
				<key>Image</key>
				<string>bulgSplitSquat</string>
			</dict>
		</dict>
		<key>Hamstrings</key>
		<dict>
			<key>Dumbbell Romanian Deadlifts</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
			<key>Single-Leg Glute Bridge</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
			<key>Bench Hip Thrust</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
			<key>Weighted Walking Lunges</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Image</key>
				<string></string>
			</dict>
		</dict>
		<key>Calves</key>
		<dict>
			<key>Calf Raises</key>
			<dict>
				<key>Name</key>
				<string>Calf Raises</string>
				<key>Description</key>
				<string>Stand with your torso upright, your feet hip-width apart, and your toes pointing forward. Then, stand on your tip toes and squeeze.</string>
				<key>Image</key>
				<string>calfRaises</string>
			</dict>
			<key>Farmer&apos;s Walk On Tip Toes</key>
			<dict>
				<key>Name</key>
				<string>Tip-Toe Farmer&apos;s Walk</string>
				<key>Description</key>
				<string>Grab two dumbbells of reasonable weight and walk in a line on your tiptoes.</string>
				<key>Image</key>
				<string>farmerWalkTipToe</string>
			</dict>
			<key>Jumping Jacks</key>
			<dict>
				<key>Name</key>
				<string>Jumping Jacks</string>
				<key>Description</key>
				<string>Start by standing with your feet hip width apart then proceed to jump and flare out your arms and legs.</string>
				<key>Image</key>
				<string>jumpingJack</string>
			</dict>
			<key>Step-Ups</key>
			<dict>
				<key>Name</key>
				<string>Step-Ups</string>
				<key>Description</key>
				<string>Find a raised surface then stand up on the surface and repeat with each leg individually.</string>
				<key>Image</key>
				<string>stepUps</string>
			</dict>
		</dict>
		<key>Glutes</key>
		<dict>
			<key>Conventional Deadlift</key>
			<dict>
				<key>Name</key>
				<string>Conventional Deadlift</string>
				<key>Description</key>
				<string>With a bar of reasonable weight, bend over and grab the bar with a straight back and then lift and squeeze your glute muscles at the top of the motion.</string>
				<key>Image</key>
				<string>conventionalDeadlift</string>
			</dict>
			<key>Back Squat </key>
			<dict>
				<key>Name</key>
				<string>Back Squat</string>
				<key>Description</key>
				<string>With a bar of reasonable weight, place the bar at the top of your back and squat down with a straight back.</string>
				<key>Image</key>
				<string>backSquat</string>
			</dict>
			<key>Barbell Glute Bridge</key>
			<dict>
				<key>Name</key>
				<string>Barbell Glute Bridge</string>
				<key>Description</key>
				<string>With a barbel of reasonable weight, find a raised surface to lean against and then place the barbell on the front of your hip and then raise the bar with your glutes.</string>
				<key>Image</key>
				<string>barbellGluteBridge</string>
			</dict>
			<key>Walking Lunge</key>
			<dict>
				<key>Name</key>
				<string>Walking Lunge</string>
				<key>Description</key>
				<string>Standing up, lunge with one foot forward and then do the same with your back foot from your final position.</string>
				<key>Image</key>
				<string>walkingLunge</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
